.item1{
	background: url(../img/任务帮.jpg) no-repeat center center;
	height: 400px;
}
.item2{
	background: url(../img/新零售.jpg) no-repeat center center;
	height: 400px;
}
.item3{
	background: url(../img/VR.jpg) no-repeat center center;
	height: 400px;
}
.item4{
	background: url(../img/妆秀.jpg) no-repeat center center;
	height: 400px;
}
.item5{
	background: url(../img/智能家居.jpg) no-repeat center center;
	height: 400px;
}
.item6{
	background: url(../img/钱咖360.jpg) no-repeat center center;
	height: 400px;
}